<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <ng-container *ngIf="courses.length > 0;
                       else elseTemplate">
  <div class="row">
    <div class="col-md-4">
      <table class="table">
          <tr *ngFor="let x of courses">
            <td>{{x.name}}</td>
            <td>{{x.id}}</td>
            <td>{{x.price}}</td>
          </tr>    
      </table>
    </div>
  </div>
</ng-container>
<ng-template #elseTemplate>
  <h2>No courses to display</h2>
</ng-template>
</div>

